<footer>
    <h1>Lorem ipsum dolor</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptatum illo alias molestiae recusandae ut? Sed modi veritatis a voluptates, obcaecati fugit nesciunt temporibus labore error hic consectetur illum at aliquam libero quisquam, aspernatur minus vero porro ducimus dolor fuga officia non. Eum cupiditate enim omnis doloribus alias consectetur vero! Distinctio consectetur quam, aspernatur accusantium, harum, sapiente in odio cum animi perferendis voluptates nemo facilis vero. Veniam dolorem, vero rem praesentium a dolor iusto iste perferendis quod illo fuga modi similique accusamus eum corporis soluta numquam atque, dicta incidunt enim alias, omnis quisquam minus quam? Suscipit debitis provident ex maxime.</p>
</footer>