<footer class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t">
    <p class="text-xs text-gray-500 dark:text-gray-400 pad">
        2024 Materiales MG. Derechos Reservados.
    </p>
</footer>
