<nav class="navbar sticky-top bg-body-tertiary navbar-expand-lg colornav navbar-brand font-bold">
    <div class="container">
        <a href="/"><img src="/img/logo_matsMG.png" alt="" class="logo-img" ></a>
        <a class="navbar-brand font-bold" href="/">Materiales Mendoza García</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ramir">RAMIR</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


