body {
  background-color: rgb(173, 152, 123);
  color: black;
}

.navbar {
  background-color: antiquewhite;
  color : black;
}

.logo-img {
  max-width: 100px;
  height: auto;
}

/*css para centar y ajustar el titulo*/
.titulo {
  text-align: center; /* Centra el texto horizontalmente */
  /*max-width: 800px; /* Define un ancho máximo para el contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  margin-bottom: 1.5em;
}

.espaciadoCentrado {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/*css para centrar y ajustar el parrafo*/
.parrafo {
  text-align: center; /* Centra el texto horizontalmente */
 /* max-width: 800px; /* Define un ancho máximo para el contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.dividirSecciones {
  /*text-align: center; /* Centra el texto horizontalmente */
  /*max-width: 800px; /* Define un ancho máximo para el contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.textoytitulos {
  text-align: center; /* Centra el texto horizontalmente */
 /* max-width: 800px; /* Define un ancho máximo para el contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  margin-top: 1.8em;
}

.seccion-destacada-titulos {
  background-color: rgb(209, 214, 162);
  background-size: cover;
  background-position: center;
  padding: 4rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.seccion-destacada-contenido {
  background-color: rgb(102, 107, 46);
  background-size: cover;
  background-position: center;
  padding: 4rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
  background-color: transparent; /* Hace que el fondo de la tarjeta sea transparente */
  border: none; /* Elimina el borde de la tarjeta, si lo hay */
  /*border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}

#services {
  height: auto;
  padding-top: auto;
  padding-bottom: auto;
}


.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.seccion-destacada {
  /*background-image: url('/img/logo_matsMG.png'); /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta de tu imagen */
  background-color: rgb(209, 214, 162);
  background-size: cover;
  background-position: center;
  padding: 4rem; /* Ajusta el padding según sea necesario para separar la sección del contenido adyacente */
  margin-bottom: 2rem; /* Ajusta el margen inferior según sea necesario */
  /*border-radius: 1rem; /* Opcional: agrega bordes redondeados al recuadro */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: agrega sombra */
}

.colorSeccionReferencias {
  background-color: rgb(209, 214, 162);
  background-size: cover;
  background-position: center;
  padding: 4rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}