/*fondo y color de letra*/
body {
  background-color: #e7e5ce;
  color: black;
}

/*css para formato del logo de barra navigation*/
.logo-img {
  max-width: 100px; /* ajusta el valor según sea necesario */
  height: auto; /* para mantener la proporción original de la imagen */
}

.espaciado {
  margin-bottom: 1.5em; /* Puedes ajustar el valor según la cantidad de espacio deseada */
}

/*css para centar y ajustar el titulo*/
.titulo {
  text-align: center; /* Centra el texto horizontalmente */
  /*max-width: 800px; /* Define un ancho máximo para el contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/*css para centrar y ajustar el parrafo*/
.parrafo {
  text-align: center; /* Centra el texto horizontalmente */
 /* max-width: 800px; /* Define un ancho máximo para el contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.textoytitulos {
  text-align: center; /* Centra el texto horizontalmente */
 /* max-width: 800px; /* Define un ancho máximo para el contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  margin-top: 1.8em;
}

.seccion-destacada {
  /*background-image: url('/img/logo_matsMG.png'); /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta de tu imagen */
  background-color: rgb(209, 214, 162);
  background-size: cover;
  background-position: center;
  padding: 4rem; /* Ajusta el padding según sea necesario para separar la sección del contenido adyacente */
  margin-bottom: 2rem; /* Ajusta el margen inferior según sea necesario */
  /*border-radius: 1rem; /* Opcional: agrega bordes redondeados al recuadro */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: agrega sombra */
}

#services {
  height: auto;
  padding-top: auto;
  padding-bottom: auto;
}

/* Estilos adicionales según sea necesario */
.card {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

/*para crear el carrusel de imagenes*/

:root {
  --carousel-control-color:             #fff;
  --carousel-indicator-active-bg:      #fff;
}

.carousel-control {
  color: var(--carousel-control-color);
  width: 15%;
  opacity: .5;
  transition: opacity .15s ease;
}

.carousel-control:hover {
  opacity: .9;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-indicators li {
  width: 30px;
  height: 3px;
  margin: 0 3px;
  opacity: .5;
  transition: opacity .6s ease;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators .active {
  opacity: 1;
  background-color: var(--carousel-indicator-active-bg);
}

.carousel-caption {
  width: 70%;
  color: var(--carousel-control-color);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 2rem;
  height: 2rem;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#fff'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#fff'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}

.carousel-item {
  transition: transform .6s ease-in-out;
}

/*fincrear carrusel de imagenes*/
