<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ramir</title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="vh-100 container ot-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1>RAMI</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores cumque omnis quo, illo quibusdam dicta reiciendis officia temporibus excepturi non rerum animi et. Dignissimos perferendis, provident ratione recusandae hic saepe eum aliquid rem, nam sit ex quidem asperiores fugiat cumque est? Ullam minus illum vero sed omnis earum, totam alias cupiditate dolore. Necessitatibus eum inventore expedita quaerat, tempore minus! Sapiente eveniet incidunt ipsa sit voluptate assumenda dolor molestias quis soluta eos ea possimus, nihil sunt, quod repudiandae et similique architecto natus atque voluptatum unde hic perferendis sed ex. Dolore ratione eum hic. Tempore veniam dolore dicta culpa facilis ad doloribus ullam deleniti nisi illum, sit, velit totam officia iusto beatae libero doloremque nam, labore dolorem perspiciatis adipisci earum! Temporibus odio dolores commodi sunt nisi enim beatae eum fugiat dolorem qui. Ea quod eaque culpa debitis eveniet repudiandae, incidunt, nobis libero quo non, est tempore repellat esse sit qui voluptate nostrum doloremque ratione id accusantium quam repellendus ex. Tempore ea, voluptatem quos repellat ducimus iusto perspiciatis, autem quisquam quibusdam nostrum sit commodi voluptates voluptate quidem itaque asperiores libero dolor magni ut accusantium impedit sapiente, quae illo. Mollitia, quos. Modi fugiat sunt beatae, ullam quisquam quasi iste deserunt tempora id. Nulla consequuntur aliquam quidem ut laboriosam suscipit perferendis at quia doloremque sequi deserunt labore quas, quasi impedit illum totam, nobis maiores adipisci saepe odit recusandae. Asperiores maxime minima necessitatibus sint error ipsam fugiat voluptatum quidem fuga inventore eligendi nam, cum culpa voluptatibus ab at a labore adipisci quod facere sed, omnis iusto? Vitae, nostrum. Accusamus labore sunt molestias esse, excepturi explicabo aliquam deleniti voluptates in dolore nulla ratione perferendis magnam itaque ipsam architecto autem harum accusantium quod distinctio amet. Deleniti soluta doloribus, exercitationem mollitia porro delectus beatae voluptate! Eaque, harum nam debitis iste quo saepe ex ipsum sit a ab iusto nobis.</p>
        </section>
    </main>
</body>
</html>