<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ramir</title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="vh-100 container ot-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1>RAMIR</h1>
           <p>En el año 2018, la nueva administración de la Ciudad de México llevó a cabo un control en cuanto a las licencias, los requisitos y todo tipo de trámites relacionados con la construcción y demolición de obras. El RAMIR es un trámite de suma importancia y obligatorio en la Ciudad de México para llevar a cabo las funciones de acopio, almacenamiento, manejo, transporte y disposición final de los residuos urbanos y/o manejo especial de competencia local.

            Los residuos urbanos son materiales de construcción que han sido desechados, ya sea en proceso de construcción o de demolición. Se les reconoce cuando dichos residuos son retirados por maquinaria especializada para el retiro de escombros.
            
            La Secretaría del Medio Ambiente (SEDEMA) pone a disposición del público en general el listado de establecimientos mercantiles, de servicios y/o unidades de transporte de residuos sólidos de competencia local, con autorización y registro otorgado por la SEDEMA (RAMIR)
            </p>
        </section>
    </main>
</body>
</html>