<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAMIR</title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="vh-100 container ot-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1>RAMIR</h1>
            <p> ¿Que es el RAMIR? Es un registro y autorización para el manejo integral de los residuos, que emite la Secretaría a los establecimientos mercantiles, de servicios y/o unidades de transporte de residuos sólidos urbanos y/o de manejo especial que operen y transiten en la Ciudad de México (RAMIR) </p>
            <p> En el suiguiente boton se puede verificar que nuestro RAMIR se encuentra vigente para poder operar de manera segura</p>
            <button type="button" class="btn">RAMIR</button>
        </section>
    </main>
</body>
</html>